@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
}
/* variables */
:root {
  --black: #111111;
  --white: #ffffff;
  --orange: #fea301;
  --blue: #01acfd;
  --blue1: #05d4df;
  --blue2: #5d58ef;
}

/* shared styles */
body {
  font-family: "Quicksand", sans-serif;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
}
.display-flex {
  display: flex;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.main-section{
    background-image: url(./assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px 0;
}
.button {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  padding: 10px 47px;
  border-radius: 12px;
  border: none;
  color: var(--white);
  background-color: var(--black);
}
.section-tittle{
    text-align: center;
    font-weight: 700;
    font-size: 46px;
    color: var(--black);
}

/* navber style  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
nav > .logo{
    display: flex;
    align-items: center;
    gap:11px;
}
nav > .logo > img {
    width: 62px;
    height: 62px;
}
nav h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: var(--black);
}
nav > ul{
    display: flex;
    align-items: center;
    gap: 32px;
}
nav ul a{
    font-weight: 700px;
    font-size: 20px;
    line-height: 30px;
}
nav .button{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    padding: 10px 60px;
    border-radius: 12px;
    border: none;
    color: var(--white);
    background-color: var(--orange);
}
#icon, hr{
    display: none;
}
/* Respoponsive */
@media screen and (min-width: 992px) and (max-width: 1160px) {
    .container{
        margin: 0 30px;
    }
}
/* Large responsive */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .container{
        margin: 0 30px;
    }
    nav{
        padding: 12px 0;
    }
    nav > .logo > .img{
        width: 46px;
        height: 46px;
    }
    hr{
        display: block;
        border-bottom: 0.5px solid var(--orange);
    }
}
/* Tablets responsive  */
@media screen and (min-width: 576px) and (max-width: 768px) {
    .container{
        margin: 0 30px;
    }
    footer > .flax{
        flex-direction: column;
        gap: 32px;
    }
    #icon{
        display: block;
        font-size: 30px;
    }
    nav > .logo > h1, nav > ul, nav .button{
        display: none;
    }
    #icon:hover{
        cursor: pointer;
        display: block;
    }
    nav{
        padding: 12px 0;
    }
    nav > .logo > .img{
        width: 46px;
        height: 46px;
    }
    hr{
        display: block;
        border-bottom: 0.5px solid var(--orange);
    }
}
/* mobile responsive  */
@media screen and (max-width: 576px) {
    .container{
        margin: 0 16px;
    }
    .button {
        font-size: 15px;
    }
    .display{
        display: block;
    }
    #icon{
        display: block;
        font-size: 30px;
    }
    nav > .logo > h1, nav > ul, nav .button, .angle-btn, #card1{
        display: none;
    }
    nav{
        padding: 12px 0;
    }
    nav > .logo > .img{
        width: 46px;
        height: 46px;
    }
    hr{
        display: block;
        border-bottom: 0.5px solid var(--orange);
    }
}

.headlines {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px 0;
    font-weight: 600;
    font-size: 20px;
    color: var(--white);
    background: #14f000a0;
}
/* banner */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.left-banner{
    max-width: 55%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.banner-tittle{
    max-width: 90%;
    font-weight: 700;
    font-size: 56px;
    color: var(--black);
}
.banner-tittle span:first-child{
    color: var(--orange);
}

.banner-tittle span:last-child{
    color: var(--blue);
}
.banner-disc{
    font-weight: 400;
    font-size: 20px;
    color: var(--black);
}
/* banner responsive */
/* Large responsive */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .right-banner{
        margin-top: 20px;
        max-width: calc(100% - 16px);
    }

    .right-banner img{
        width: 100%;
    }

    .left-banner{
        max-width: calc(100% - 16px);
        gap: 18px;
        text-align: center;
    }

    .banner-tittle{
        max-width: 335px;
        font-size: 32px;
        margin: 0 auto;
    }

    .banner-disc{
        font-weight: 500;
        font-size: 14px;
    }
    .left-banner button{
        font-size: 16px;
        padding: 6px 24px;
    }
}
/* Tablets responsive  */
@media screen and (min-width: 576px) and (max-width: 768px) {
    .right-banner{
        margin-top: 20px;
        max-width: calc(100% - 16px);
    }

    .right-banner img{
        width: 100%;
    }

    .left-banner{
        max-width: calc(100% - 16px);
        gap: 18px;
        text-align: center;
    }

    .banner-tittle{
        max-width: 335px;
        font-size: 32px;
        margin: 0 auto;
    }

    .banner-disc{
        font-weight: 500;
        font-size: 14px;
    }
    .left-banner button{
        font-size: 16px;
        padding: 6px 24px;
    }
}
/* mobile responsive  */
@media screen and (max-width: 576px) {
    .banner{
        flex-direction: column-reverse;
        gap: 20px;        
    }

    .right-banner{
        margin-top: 20px;
        max-width: calc(100% - 16px);
    }

    .right-banner img{
        width: 100%;
    }

    .left-banner{
        max-width: calc(100% - 16px);
        gap: 18px;
        text-align: center;
    }

    .banner-tittle{
        max-width: 335px;
        font-size: 32px;
        margin: 0 auto;
    }

    .banner-disc{
        font-weight: 500;
        font-size: 14px;
    }
    .left-banner button{
        font-size: 16px;
        padding: 6px 24px;
    }
}
